* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/*.image {
    height: 100vh;
    background-size: cover;
    background-position: center;
}*/

.nav_product {
    height: 1200px;
    background-color: rgb(43, 220, 226);
    display: flex;
    flex-direction: column;
}

.nome_product {
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 90px;
    line-height: 70px;
    background: linear-gradient(to right, #c72092, #6c14d0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* la carta del producto*/
.product_card {
    background-color: rgb(247, 247, 247);
    width: 290px;
    height: 420px;
    border-radius: 3%;
    text-align: center;
    box-shadow: 10px 10px 50px rgba(125, 0, 197, 0.39);
    padding: 34px;
    border: 1px solid #d8d8d8;
    transition: 0.5s;

}

.product_card:hover {
    box-shadow: 10px 10px 50px #ff00c89d;
    transform: scale(1.01);
    height: 500px;
}

.product_card:hover #box_3 {
    opacity: 1;
    visibility: visible;
}

.container_background {
    height: 200px;
    width: 220px;
    border-radius: 3px;
    box-shadow: 10px 10px 50px #7700ff0c;
    border: 1px solid #d8d8d8;
    display: grid;
    grid-template-rows: repeat(1, 50px 1fr);
    grid-template-columns: repeat(1, 1fr 50px);

}

.cuadrado {
    grid-row: 1;
    grid-column: 2;
    text-align: left;
    justify-content: end;
    align-items: flex-end;
    height: 35px;
    width: 35px;
    background-color: rgba(225, 0, 255, 0.103);
    border: 1px solid #ff02af67;
    border-radius: 100px;
    display: flex;
    margin: auto;
    opacity: 0.0;
    transition: opacity 1 .6s;
}

.corazon {
    color: #ff02af;
    margin: auto;
}

.container_background:hover {
    background-color: rgb(226, 226, 226);
}

.product_card:hover .cuadrado {
    opacity: 1;
    visibility: visible;
}

.product-name {
    font-family: Montserrat-Thin;
    margin-top: 15 px;
    border-bottom: 1px solid black;
    height: 40px;
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

.star {
    color: rgb(255, 208, 0);
    font-size: 14px;

}

.description {
    height: 50px;
    width: 220px;
    margin: auto;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;

}

#box_3 {
    margin: auto;
    margin-top: 20px;
    background: linear-gradient(to right, #c72092, #6c14d0);
    border: 1px solid #6c14d0;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    color: #d8d8d8;
    font-size: large;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.0;
    transition: opacity 1 .6s;

}




.precio {
    padding-top: 10px;
    padding-bottom: 6px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    font-weight: bold;
    font-size: 20px;


}