@font-face {
    font-family: "Pyxidium Quick";
    /*Can be any text*/
    src: local("Pyxidium Quick"),
        url("./assets/Fonts/PyxidiumQuickV2.ttf");
}

@font-face {
    font-family: "Montserrat Thin";
    /*Can be any text*/
    src: local("Montserrat Thin"),
        url("./assets/Fonts/Montserrat-Thin.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}